button {
    background-color: transparent;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 3px;
    font-size: 15px;
    height: 32px;
    transition: .3s;
    width: 120px;
}

button:hover {
    border-color: black;
}

button:active {
    background-color: rgba(0,0,0,.08);
}

/* Botões confirma e cancela (Verde e Vermelho) */

button.confirm:hover {
    border-color: green;
}

button.cancel:hover {
    border-color: red;
}

/* Botão que se expande ao passar o mouse por cima */

button.expansive:hover {
    width: 100%;
}

/* Botões coloridos */

button.cf_confirm {
    border-color: green;
}

button.cf_confirm:hover {
    background-color: forestgreen;
    border-color: black;
}

button.cf_confirm:active {
    background-color: rgba(0,155,0,0.1);
    border-color: green;
}

button.cf_cancel {
    border-color: red;
}

button.cf_cancel:hover {
    background-color: red;
    border-color: black;
}

button.cf_cancel:active {
    background-color: rgba(155,0,0,0.1);
    border-color: red;
}
