button {
    background-color: transparent;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 3px;
    font-size: 15px;
    height: 32px;
    width: 120px;
}

button:hover {
    border-color: black;
}

button:active {
    background-color: rgba(0,0,0,.08);
}

/* Botões confirma e cancela (Verde e Vermelho) */

button.confirm:hover {
    border-color: green;
    transition: .1s;
}

button.cancel:hover {
    border-color: red;
    transition: .1s;
}

/* Botão que se expande ao passar o mouse por cima */

button.expansive {
    transition: .3s;
}

button.expansive:hover {
    width: 100%;
}