.navbar {
    display: flex;
    flex-flow: row nowrap;
}

.nb_sticky {
    position: sticky;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
}

.dropdown .dd_holder {
    position: absolute;
    display: none;
}

.dropdown:hover .dd_holder {
    display: block;
}

.nav_right {
    margin-left: auto;
}

.nav_left {
    margin-right: auto;
}